*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(166, 196, 230);
}
#app{
    margin: 30px auto;
    padding: 20px;
    width: 595px;
    display: block;
    background-color: #fff;
    border-radius: 3px
}
table{
    margin: 10px auto;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1.5px solid black;
}
th{
    padding-right: 22px;
    border-left: 1.5px solid black;
}
th, td:nth-child(6){
    width: 70px;
}
th, td:nth-child(7){
    width: 70px;
}
